<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Tophe.RandomHousePatrol" Major="2" Minor="20" Build="0">
      <Files>
        <CPackFile Name="Tophe/HousePatrol/HousePatrol.sqf" CheckSum="WjwIz1rkl+HdOFIQuFo+dw==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>